@import "variables.less";
@import "mixins.less";

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @text-color;
  background-color: @body-bg;
}

.navbar {
  min-height: @navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: @navbar-margin-bottom;
  border: 1px solid transparent;

  @media (min-width: @grid-float-breakpoint) {
    border-radius: @navbar-border-radius;
  }
}

.navbar-brand{
	margin:0;
	padding:0;
}
.navbar-nav > li > a{
	margin:0;
	padding:9px 15px;
	color:@dark;
}

.navbar-form{
	margin:0;
	padding:5px 10px 0;
	.btn{
		padding:2px 5px;
	}
}

.form-control{
	height:27px;
}

.container-white{
	background-color:@white;
}

.container-fluid-top{
	height:40px;
	background-color:@gray;
	h1{
		margin:0;
		line-height:40px;
		font-size:16px;
		a{
			color:@white;

		}
	}
}
.row {
	margin:0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding:0;
}



.note-list{
	
}

.note-list-header{
	background-color:@gray-light;
	height:24px;
	line-height:24px;
	color:white;
	font-size:12px;
	padding-left:10px;
}

.notes{
	.note{
		border-bottom:11px solid #FAFAFA;
		background:rgb(245, 243, 243);
		.note-title{
			padding:10px 20px;
			margin:0;
			font-size:16px;
			img{
				padding-right:10px;
			}
		}
		.note-content{
			padding:5px 20px;
		}
	}
}


.sidebar{
	ul{
		list-style-type: none;
		padding:0;
		margin:0;
		li{
			height:36px;
			padding:0 10px;
			line-height:36px;
			position: relative;
			background-color: #e4f7fd;
			border-bottom: 2px #f8fcfd solid;
			a{
				color:#000;
			}
		}
	}
	
}
