<div class="site">
  <div class="container page-container">
    <div id="content">
      <div>
        <img class="avatar"  style="float:left;" height="40px" width="40px" src="/image/nange.png">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="padding-left:42px;">
          <li class="active"><a href="#mynote" data-toggle="tab">我的云端笔记(12)</a></li>
          <li><a href="#shared" data-toggle="tab">我分享的笔记(2)</a></li>
          <li><a href="#stared" data-toggle="tab">我收藏的笔记(5)</a></li>
          <li><a href="#followed" data-toggle="tab">我关注的人(1)</a></li>
        </ul>
      </div>
      <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="mynote">
          <div class="row">
            <div class="col-md-2">
              <div class="mynote-notebook">
                <ul class="nav">
                  <li class="active"><a href="#">我的笔记本一</a></li>
                  <li><a href="#">我的笔记本二</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-10">
              <div class="mynote-op">
                <!-- Split button -->
                <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">分享到类别
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">类别一</a></li>
                    <li><a href="#">类别二</a></li>
                    <li><a href="#">类别三</a></li>

                    <li><a href="#">类别四</a></li>
                    <li class="divider"></li>
                  </ul>
                  <button class="btn btn-default" type="submit">取消分享</button>
                </div>
              </div>
              <div class="mynote-notes">
                <div class="list-group">
                  <a href="#" class="list-group-item">
                  <input type="checkbox" value="">标题党笔记分享<span class="badge" data-toggle="collapse" data-target="#shareid1">展开</span>
                    <div id="shareid1" class="share-op collapse">标签：测试</div>
                  </a>
                  <a href="#" class="list-group-item"><input type="checkbox" value="">未分享笔记</a>
                  <a href="#" class="list-group-item"><input type="checkbox" value="">标题党分享<span class="badge">14</span></a>
                  <a href="#" class="list-group-item"><input type="checkbox" value="">标题党笔记分享<span class="badge">14</span></a>
                  <a href="#" class="list-group-item"><input type="checkbox" value="">标题党笔记分享<span class="badge">14</span></a> 
                  <a href="#" class="list-group-item"><input type="checkbox" value="">标题党笔记分享<span class="badge">14</span></a> 
                  <a href="#" class="list-group-item"><input type="checkbox" value="">标题党笔记分享<span class="badge">14</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>