body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #000000;
  background-color: #fcfcfc;
}
.navbar {
  min-height: 40px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: ＃FFF;
}
.top-header {
  margin-bottom: 40px;
}
.navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-nav > li > a {
  margin: 0;
  padding: 9px 15px;
  color: #000000;
}
.navbar-form {
  margin: 0;
  padding: 5px 10px 0;
}
.navbar-form .btn {
  padding: 2px 5px;
}
.form-control {
  height: 27px;
}
.container-white {
  background-color: #ffffff;
}
.color-header {
  height: 40px;
  background-color: rgba(88, 88, 91, 0.8);
  z-index: 999;
  left: 0;
  right: 0;
  position: fixed;
  top: 40px;
}
.color-header h1 {
  margin: 0;
  display: inline-block;
  line-height: 40px;
  font-size: 16px;
}
.color-header h1 a {
  color: #ffffff;
}
.color-header #color-header-logo {
  display: none;
  border: none;
  margin: 0;
}
.color-header .pagetitle img {
  margin: 0;
  padding: 0;
  float: left;
}
.note-list {
  background: #FFF;
}
.note-list-header {
  background-color: #FFF;
  height: 30px;
  line-height: 30px;
  color: orange;
  font-size: 14px;
  padding-left: 20px;
}
.notes .note {
  border-bottom: 11px solid #FFF;
  background: #f5f3f3;
}
.notes .note .note-title {
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
}
.notes .note .note-title img {
  padding-right: 10px;
}
.notes .note .note-content {
  padding: 5px 20px;
}
.notes .note .featured-img img {
  max-width: 100%;
  height: auto;
}
.sidebar {
  margin-top: 30px;
}
.sidebar .sidebar-header {
  background-color: orange;
  color: #000;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-left: 20px;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  height: 36px;
  padding: 0 10px;
  line-height: 36px;
  position: relative;
  background-color: #ffebd2;
  border-bottom: 1px #fff8f0 solid;
}
.sidebar ul li a {
  color: #000;
}
.copyright {
  text-align: center;
}
